<div class="container" style="height= 100vh">

  <div class="form-container">
    <div class="input-container">
      <input ng-model="login.email" class="input" placeholder="email" />
      <input ng-model="login.password" class="input" placeholder="password" type="password" />
    </div>
    <button type="button" class="button" ng-click="login.buttonPress()">Login</button>
  </div>

</div>
