<div class="container" style="height= 100vh">


  <div style="padding-top: 40px; display: flex; justify-content: center;">
    <div style="margin-right: 30px; border: 2px solid #c0392b; border-radius: 4px; display: flex; align-items: center; padding-right: 20px">
      <md-datepicker ng-model="main.myDate" md-placeholder="Enter date" ng-change="main.getTask()"></md-datepicker>
    </div>
    <input ng-model='main.startTime' type="time" class="input-time" placeholder="Start Time" />
    <input ng-model='main.task' class="input-task" placeholder="Enter Task" />
    <input ng-model='main.endTime' type="time" class="input-time" placeholder="End Time" />
    <button class="button" style="margin-left: 10px" ng-click="main.addTask()">Add</button>
  </div>

  <table class="table">
    <tr ng-repeat="task in main.list">
        <td title="'Description'">
            {{ task.description }}</td>
        <td title="'Description'">
            {{ task.date }}</td>
        <td title="'Start_time'">
            {{ task.start_time }}</td>
        <td title="'End_time'">
            {{ task.end_time }}</td>
        <td ng-click="main.editClick(task.id)" class="edit-action">edit</td>
    </tr>
  </table>
  <react-component name="HelloComponent" props="main.person" watch-depth="reference"/>

</div>
