.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.input {
  width: 40%;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding-left: 10px;
  border-color: #c0392b;
}

.input-task {
  width: 40%;
  height: 45px;
  border-radius: 4px;
  padding-left: 10px;
  border-color: #c0392b;
}

.input-time {
  width: 10%;
  height: 45px;
  border-radius: 4px;
  padding-left: 10px;
  border-color: #c0392b;
}

.form-container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.button {
  width: 10%;
  background-color: #e74c3c;
  border-color: #c0392b;
  border-radius: 4px;
  color: #fff;
  height: 45px;
}

.table {
  margin-top: 40px;
}

.edit-action {
  font-size: 14px;
  color: gray;
}
